# Core scientific computing
numpy
scipy
pandas

# Audio processing
librosa
soundfile
audioread

# Machine learning
scikit-learn
joblib

# Deep learning
torch
torchaudio
transformers

# Visualization
matplotlib
seaborn

# Progress bars
tqdm

# Utilities
python-dateutil
pyarrow


jupyter
ipykernel